<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/accountsViewsBootstrapOverrides.css">
    <link rel="stylesheet" href="~/css/shared.css">

        
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>RemindMe</title>
    </head>
    <body>
        @RenderBody()
        @RenderSection("Scripts", required: true)
    </body>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - RemindMe
        </div>
    </footer>
</html>
